.right-align {
    position:relative;
    right: 0px;
}

.main-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.column1 {
    width: 500px;
    margin-left: 20px;
    margin-right: 20px;
}

.column2 {
    width: 500px;
    margin-left: 20px;
    margin-right: 20px;
}

#comment_list {
    padding-left: 0px;
}

.warning {
    border-style: solid;
    border-width: 2px;
    padding: 10px;
    margin-bottom: 10px;
}

.error {
    color: red;
    font-size: 20px;
}

.graph-canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

    border-style: solid;
    border-width: 4px;

    border-color: #000000;
}

div.color-picker {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    align-content: center;
}

input.color-picker {
    margin: auto;
    margin-top: 10px;
    width: 100px;
    height: 50px;
}

input.name-input {
    width: 100%;
    font-size: 20px;
}

textarea {
    font-size: 20px;
}

.center {
    text-align: center;
}

.page-header {
    margin: auto;
    width: fit-content;
    text-align: center;
}

.response-item {
    border-style:solid;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    list-style-type: none;
}

.response-name {
    margin-top: 0px;
    padding-top: 0px;
    font-size: 18px;
    list-style-type: none;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#main-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

#content {
    flex: 1;
}

#footer {
    margin: 10px auto;
    text-align: center;
    color: #555555;
}
