<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mvp.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript">
        function makePath(url) {
            // Specified via environment variable APP_SUBDIRECTORY
            let basePath = '{{ app_subdirectory }}';
            if (basePath[basePath.length - 1] == '/') {
                basePath = basePath.substring(0, basePath.length - 1);
            }
            if (url[0] == '/') {
                return basePath + url;
            } else {
                return basePath + '/' + url;
            }
        }
    </script>
</head>
<title> {% block title %} {% endblock %} - CheckIn </title>
<body>
    
<div id="main-wrapper">
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="footer">
        This application is open source!
        <br />
        <a href="https://gitlab.com/jbitz/checkin-site">View the source code on GitLab</a>
    </div>
</div>

</body>

</html>
