{% extends "base.html" %}

{% block title %}New Survey{% endblock %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static',filename='js/graph.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/respond.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/create_new.js') }}"></script>

<div class="page-header">
    <h1> Create New Survey </h1>
</div>
    <div class="main-body">
        <div class="column1">
            <h3 class="center">Click and drag the dot to show how you're feeling today:</h3>
            <canvas id="main_canvas" width="500px" height="500px" class="graph-canvas">
            </canvas>
            <div class="color-picker">
                <input type="color" id="color_picker" name="color_picker" value="{{ color }}" class="color-picker">
                <label> Click to select a custom color!</label>
            </div>
        </div>
        <div class="column2">
            <form id="survey_form">
                <label for="xneg">X-Axis Labels:</label>
                <input type="text" id="xneg" name="xneg" value="Negative">
                <input type="text" id="xpos" name="xpos" value="Positive">

                <label for="yneg">Y-Axis Labels:</label>
                <input type="text" id="yneg" name="yneg" value="Tired">
                <input type="text" id="ypos" name="ypos" value="Energetic">

                <input type="checkbox" id="ask_name" name="ask_name"> Ask for name?
                <br>
                <label for="visibility">Visibility:</label>
                <input type="radio" id="visibility_public" name="visibility" value="public"> Public
                <input type="radio" id="visibility_private" name="visibility" value="private"> Private
                <div class="warning" id="privacy-warning-box">
                    <b>Warning: </b> Be careful about collecting sensitive information,
                    especially if it is associated to respondents' names!
                </div>
                <!-- TODO: Insert help box explaining how groups work -->
                <div class="survey-group-options" id="survey-group-options-box">
                    <label for="group_code">Group Name:</label>
                    <input type="text" id="group_code" name="group_code">
                    <label for="group_password">Group Passphrase:</label>
                    <input type="password" id="group_password" name="group_password">
                </div>
                <div class="error">

                </div>

                <input type="submit" value="Create Survey">
            </form>
        </div>
    </div>

<script type="text/javascript">
    setup();
    setup_new();
</script>

{% endblock %}