{% extends "base.html" %}

{% block title %}Respond{% endblock %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static',filename='js/graph.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/respond.js') }}"></script>
<div id="parameters" data-code='{{ survey.survey_id }}'
                     data-xneg='{{ survey.x_neg_label }}'
                     data-xpos='{{ survey.x_pos_label }}'
                     data-yneg='{{ survey.y_neg_label }}'
                     data-ypos='{{ survey.y_pos_label }}'
                     data-askNames='{{ survey.ask_names }}'
                     data-auth='{{ auth }}'>
</div>
<div class="page-header">
<h1>Check In </h1>
</div>

<div class="main-body">
    <div class="column1">
        <h3 class="center">Click and drag the dot to show how you're feeling today:</h3>
        <canvas id="main_canvas" width="500px" height="500px" class="graph-canvas">
        </canvas>
        <div class="color-picker">
            <input type="color" id="color_picker" name="color_picker" value="{{ color }}" class="color-picker">
            <label> Click to select a custom color!</label>
        </div>
    </div>
    <div class="column2">
        <div id="name_elements">
            <h3 class="textlabel">Enter your name:</h3>
            <input id="name" class="name-input"></input>
        </div>
        <h3>Explain your response here, if you want:</h3>
        <textarea id="comment"></textarea>
        <div id="error_div" class="error">
        </div>
        <button id="submit" onclick="send_data()">Submit</button>
    </div>
</div>
<script type="text/javascript">
    setup()
</script>

{% endblock %}