{% extends "base.html" %}

{% block title %}Unauthorized{% endblock %}

{% block content %}
<div style="text-align: center;">
<h1>
    You have tried to access a private survey without the appropriate link!
</h1>
<h2>Double check that you received the proper link from whoever gave it to you.</h2>
<h2><a href="{{ url_for('index') }}" >Go home</a></h2>
</div>
{% endblock %}