{% extends "base.html" %}

{% block title %}Responses{% endblock %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static',filename='js/graph.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/view_responses.js') }}"></script>
<div id="parameters" data-code='{{ code }}' data-auth='{{ auth }}'></div>
<div class="page-header" style="margin-bottom: 20px">
    <h1>Responses for survey {{ code }} </h1>
    {% if view_link %}
    <div style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center">
        <div>
            <h2 style="padding: 10px;">Respond to the survey at
                <a href="{{ url_for('respond') }}?code={{code}}&auth={{auth}}" id="respond_link">
                </a>
                <script type="text/javascript">
                    document.querySelector('#respond_link').innerText = 
                        window.origin + "{{ url_for('respond') }}?code={{code}}&auth={{auth}}";
                </script>
            </h2>
        </div>
        <div>
            <button id="copy_button" onclick="copyLink()" style="padding: 10px;"></button>
        </div>
    </div>
    {% endif %}
</div>

<div class="main-body">
    <div class="column1">
        <canvas id="main_canvas" width="500px" height="500px" class="graph-canvas">
        </canvas>
    </div>

    <div class="column2">
        <ul id="comment_list">
        </ul>
    </div>
</div>

<script type="text/javascript">
    setup();
</script>
{% endblock %}