{% extends "base.html" %}

{% block title %}View History{% endblock %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static',filename='js/graph.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/view_history.js') }}"></script>

<!--IDs and auth codes for each survey in the group, so we can retrieve its information-->
{% for survey in surveys %}
<div class="survey-info" id="survey-data-{{ loop.index0 }}" data-code="{{ survey['id'] }}"
    data-auth="{{ survey['auth'] }}"></div>
{% endfor %}

<div class="page-header" style="margin-bottom: 20px">
    <h1> Survey History for {{ group_name }}</h1>
    <div style="display: flex; font-size: 18px;">
        <button id="previous_button">&lt;</button>
        <div style="margin: auto">
            <div id="date_text"></div>
            <div id="pager_text">Survey 0/0</div>
        </div>
        <button id="next_button">&gt;</button>
    </div>
</div>

<div class="main-body">
    <div class="column1">
        <canvas id="main_canvas" width="500px" height="500px" class="graph-canvas">
        </canvas>
    </div>

    <div class="column2">
        <ul id="comment_list">
        </ul>
    </div>
</div>


<script type="text/javascript">
    setup();
</script>

{% endblock %}