{% extends "base.html" %}

{% block title %}View History{% endblock %}

{% block content %}

<div class="page-header" style="margin-bottom: 20px">
    <h1> View Survey History </h1>
</div>

<div class="main-body">
    <form id="login_form" method="POST" action="{{url_for('view_history')}}">
        <div class="survey-group-options" id="survey-group-options-box">
            <label for="group_code">Group Name:</label>
            <input type="text" id="group_code" name="group_code">
            <label for="group_password">Group Passphrase:</label>
            <input type="password" id="group_password" name="group_password">
        </div>
        <div class="error">
            {% if error %}
                {{ error }}
            {% endif %}
        </div>
        <input type="submit" value="Log In">
    </form>
</div>

<script type="text/javascript">
    setup();
</script>
{% endblock %}